doctype html 
html
  head
    title vaibhav dance academy
    block scripts
    block style
  body
    nav#navbar.top 
            ul
                div#logo 
                    img(src="/static/Logo.png")
                li #[a(href="/") Home]
                li #[a(href="/") About] 
                li #[a(href="/") Services] 
                li #[a(href="/") Contact Us]
                li #[a(href="/") Join Now]
    block content
    footer 
            | @Copyright 2023 OurDanceAcademy.com | All Rights Reserved