h1{
    text-align: center;
    margin: 12px;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.myInput{
    width: 300px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: solid 1px #75283a;
    border-radius: 5px;
}
.btn{
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: 1px solid  #75283a;
    border-radius: 5px;
    background-color: #be3454;;
    cursor: pointer;
}
.container{
    min-height: 80vh;
}